{% extends 'da.html.twig' %}

{% block title %}Participation{% endblock %}

{% block body %}
<div style="padding-bottom: 5%;"></div>
    <h1>Participation</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ participation.id }}</td>
            </tr>
            <tr>
                <th>Urlsolution</th>
                <td>{{ participation.urlsolution }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-sm btn-info"  href="{{ path('app_participations_index') }}">back to list</a>

    <a  class="btn btn-primary"  href="{{ path('app_participations_edit', {'id': participation.id}) }}">edit</a>

    {{ include('participations/_delete_form.html.twig') }}
{% endblock %}
