{% extends 'da.html.twig' %}





{% block title %}Competition{% endblock %}

{% block body %}
<div style="padding-bottom: 5%;"></div>
    <h1>Competition</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ competition.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ competition.nom }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ competition.description }}</td>
            </tr>
            <tr>
                <th>Datedebut</th>
                <td>{{ competition.datedebut ? competition.datedebut|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Datefin</th>
                <td>{{ competition.datefin ? competition.datefin|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>  {% if competition.image %}
                    <img src="{{ asset('uploads/' ~ competition.image) }}" alt="{{ competition.nom }}" class="img-thumbnail" style="max-height: 50px;">
                {% else %}
                    No Image
                {% endif %}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-sm btn-info"   href="{{ path('app_competitions_index') }}">back to list</a>

    <a class="btn btn-primary"   href="{{ path('app_competitions_edit', {'id': competition.id}) }}">edit</a>

    {{ include('competitions/_delete_form.html.twig') }}

{% endblock %}
